.mapBox {
    height: 420px;
    margin-bottom: 80px;
}

.contact-info .info-item {
    position: relative;
    padding-left: 45px;
}

.contact-info .info-item i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    line-height: 24px;
    color: #60bc0f;
    font-weight: 600;
}

.contact-info .info-item h6 {
    font-size: 16px;
    line-height: 24px;
    color: #777777;
    font-weight: bold;
    margin-bottom: 0px;
    color: #222222;
}

.contact-info .info-item p {
    font-size: 14px;
    line-height: 24px;
    padding: 2px 0px;
    color: #777777;
}

.contact-info .info-item h6 a {
    color: #222222;
}

.contact-form .form-group {
    margin-bottom: 10px;
}

.contact-form .form-group .form-control {
    font-size: 13px;
    line-height: 26px;
    color: #999;
    border: 1px solid #eeeeee;
    font-family: "Roboto", sans-serif;
    border-radius: 0px;
    padding-left: 20px;
}

.contact-form .form-group .form-control:focus {
    box-shadow: none;
    outline: none;
}

.contact-form .form-group textarea.form-control {
    height: 134px;
}

.dismissButton {
    background-color: #fff;
    border: 1px solid #dadce0;
    color: #1a73e8;
    border-radius: 4px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    height: 36px;
    cursor: pointer;
    padding: 0 24px;
}

.mapBox iframe {
    width: 100%;
}

@media (max-width: 991px) {
    .contact-info {
        margin-bottom: 50px;
    }
}