.footer-area {
    background: #091b27;
    color: #777
}

.footer-title.large-title {
    font-size: 36px;
    font-weight: 600;
}

.footer-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 28px;
}

.single-footer-widget p {
    margin-bottom: 15px;
}

.single-footer-widget p:last-child {
    margin-bottom: 0;
}

.list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.tp-widgets .list li {
    margin-bottom: 12px;
}

.tp-widgets .list li a {
    color: #777777;
    font-family: "Roboto", sans-serif;
}

.single-footer-widget .instafeed {
    margin-left: -5px;
    margin-right: -5px;
}

.single-footer-widget .instafeed li {
    margin: 5px;
}

.single-footer-widget .sm-head {
    color: #60bc0f;
    margin-bottom: 0px;
}

.single-footer-widget .sm-head span {
    position: relative;
    margin-left: -40px;
    margin-right: 10px;
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: #60bc0f;
    color: #ffffff;
    border-radius: 20px;
}

.footer-bottom {
    background: #071721;
    padding: 32px;
}

.footer-bottom .footer-text {
    color: #fff;
    margin-bottom: 0;
}

.footer-bottom .footer-text a {
    color: #60bc0f;
    opacity: 1;
}

@media (max-width: 991px) {
    .section-gap {
        padding: 70px 0;
    }

    .footer-title {
        margin-bottom: 10px;
    }
}

@media (max-width: 1199px) {
    .footer-title.large-title {
        font-size: 18px;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {

    .single-footer-widget .instafeed li:nth-child(4),
    .single-footer-widget .instafeed li:nth-child(5),
    .single-footer-widget .instafeed li:nth-child(6) {
        display: none;
    }
}